html 
h1{
  text-align: center;
  font-weight: bold;
  color: red;
  }
body{
  background-color: #0E035C;
    border: 5px solid red;
     border-radius: 10px;
    }
p{
  text-align: center;
  color: white;
 }
ul{
  list-style-type: none;
   color: white;
  }
li{
  display: inline;
   padding: 0px 20px;
  }
ul li a,
ul li a:visited{
  color: white;
  text-decoration: none;
}
marquee{
  color: white;
       }
