html 
h1{
  text-align: center;
  font-weight: bold;
  color: #5C4816;
  font-family: Copperplate, fantasy;
  }
body{
  background-color: #FFDAAB;
    }
.container{
  max-width: 800px;
  margin: 30px auto;          /* Mengetengahkan kotak */
  border: 5px solid #5C4816;  /* Garis border */
  border-radius: 10px;        /* Lengkungan sudut */
  padding: 20px;              /* Jarak isi ke garis border */
}
p{
  text-align: center;
  color: #5C4816;
  font-family: monaco, monospace;
 }
ul{
  list-style-type: none;
   color: #5C4816;
  text-align: center;
  padding: 0px;
  }
li{
  display: inline;
  margin: 0px 20px
  }
ul li a,
ul li a:visited{
  color: #5C4816;
  text-decoration: none;
}
img{
  display: block;
  margin: 0px auto
}
marquee{
  color: #5C4816;
  font-family: 'Courier New', monospace
       }
